body {
	font-family: Corier;
	font-variant: normal;
	font-weight: normal;
	padding: 0;
	margin: 0;
	display: block;

}

.container {
	width: 950px;
	margin: auto;
}

header {
	background: url(../img/viannatheatre1.jpg) no-repeat center top / cover;

	height: 400px;

}

#first {
		 background: linear-gradient(to bottom, #691618 0%, #330000 100%);
	height: 60px;
	padding: 1px;

}

.menu {

	display: flex;
	justify-content: space-around;

}

.menu li {
	float: left;
	display: block;
}

.menu a {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 20px;
}

.menu a :hover {
	color: black
}

#second {
	background-color: #f9f9f9;
	height: auto;
	padding: 30px;

}
#somediv{
	display: flex;
	flex-direction: row;
}

#text{
	padding-left: 10px;

}

#emblem {
	padding-top: 25px
}

h3 {
	padding-top: -10px;
	color: black;
	font-size: 24px;
}

.tableintable {
	text-align: center;
	padding: 14px;

}

a {
	text-decoration: none;
}

p {
	color: black;
	font-size: 19px;
}


footer {
	padding: 1px;
		 background: linear-gradient(to bottom, #691618 0%, #330000 100%);
	height: 50px;
}

h5 {
	color: white;
	text-align: center;

}
